body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.dark-mode {
    background-color: #222;
    color: #fff;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #007bff;
    padding: 10px;
    color: white;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.footer .container {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    
  }
  
  .footer .container .list {
    display: flex;
    color: var(--primary);
  }
  
  .footer .container .list:hover {
    color: var(--on-surface);
    background: transparent;
  }
